:root {
  /* Primary colors */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /*Borders*/
  --purple-border-dark: hsl(262, 23%, 46%);
  --purple-border-light: hsl(264, 38%, 72%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--light-grayish-blue);
  color: var(--white);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  min-height: 100vh;
  position: relative;
}
/*
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
.grid {
  display: grid;
  grid-gap: 20px;
  width: 78%;
  max-height: 95%;
  grid-template-areas:
    "card-1 card-1 card-2 card-3"
    "card-5 card-4 card-4 card-3";
  padding: 20px 0;
  margin: auto;
  margin-top: 25px;
}
/*------------------------------------------*/
/*Grid*/
.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

/*------------------------------------------*/
/*Colors*/
.card-1 {
  background-color: var(--moderate-violet);
}

.card-1 .icon-image {
  border: 2px solid var(--purple-border-light);
}

.card-2 {
  background-color: var(--very-dark-grayish-blue);
}

.card-3,
.card-5 {
  color: var(--very-dark-blackish-blue);
  background-color: var(--white);
}

.card-4 {
  background-color: var(--very-dark-blackish-blue);
}

.card-4 .icon-image {
  border: 2px solid var(--purple-border-dark);
}
/*------------------------------------------*/

.card {
  border-radius: 15px;
  padding: 30px;
  /*position: relative;*/
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
}

h3 {
  font-weight: 500;
  font-size: 14px;
}

.title {
  opacity: 0.5;
  padding-bottom: 10px;
}

.main-p {
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  padding-right: 5px;
  line-height: 20px;
}

.minor-p {
  opacity: 0.7;
  line-height: 20px;
}

.icon-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 15px;
}

.card-1 {
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
}

@media screen and (max-width: 600px) {
  .grid {
    width: 86.666667%;
    margin-top: auto;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-5"
      "card-4"
      "card-3";
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .grid {
    width: 82%;
    margin-top: auto;
    grid-template-areas:
      "card-1 card-1 card-2"
      "card-5 card-4 card-4"
      "card-3 card-3 card-3";
  }
}

@media screen and (min-width: 1500px) {
  .grid {
    margin-top: 300px;
  }
}
